<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-dashboard"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="">
            <a href="/raspberry"><i class="fa fa-hdd-o"></i> My Raspberry</a></li>
        </li>
        <li class="">
            <a href="/devices"><i class="fa fa-list-alt"></i> Smart Devices</a></li>
        </li>
        <li class="panel">
            <a href="/traffic"><i class="fa fa-table"></i> <span class="name">View Traffic</span></a>
        </li>
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
                data-parent="#side-nav" href="#elements-collapse3"><i class="fa fa-magic"></i> <span class="name">Plug-ins</span></a>
            <ul id="elements-collapse3" class="panel-collapse collapse ">
                <li class=""><a href="/plugins">View Plug-ins</a></li>
                <li class=""><a href="/configure-plugins">Config. Plug-ins</a></li>
            </ul>
        </li>
        <li class="">
            <a href="/alerts"><i class="fa fa-bell"></i> Alerts</a></li>
        </li>
    </ul>
    <!--
    <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
    -->
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <!--
    <ul class="sidebar-labels">
        <li>
            <a href="#">
                <i class="fa fa-circle text-warning"></i>
                <span class="label-name">My Recent</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-gray"></i>
                <span class="label-name">Starred</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-circle text-danger"></i>
                <span class="label-name">Background</span>
            </a>
        </li>
    </ul>
    -->
    <!-- A place for sidebar notifications & alerts 
    -->
        <h5 class="text-white fw-semi-bold">Plug-ins Status:</h5>
        <div id="pluginprogress">
            <!--
                <div class="sidebar-alerts">
                    <span class="text-white fw-semi-bold">Plug-in 1</span> <br>
                    <div class="progress progress-xs mt-xs mb-0">
                        <div class="progress-bar progress-bar-striped progress-bar-gray-light" style="width: 50%">
                        </div>
                        <small>Training... 50%</small>
                    </div>    
                -->
         </div>
    </div>
</nav>    