{% extends "base-site.html" %}
{% block title %} Devices {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<h2 class="page-title"><i class="fa fa-list-alt"></i> Devices - <small>View, Identify or Anonymize your smart home devices</small></h2>
<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Smart Home Devices -<small> device identification is performed manually</small>
                </h4>
                <!--
                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                -->
            </header>
            <div class="widget-body">
                <div class="widget-padding-md border rounded">
                    <table class="dataframe table table-hover dataTable no-footer">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    MAC
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Alerts
                                </th>
                            </tr>
                        </thead>
                        <tbody id="device_table">
                            {% if devices_table %}
                                {{ devices_table | safe }}
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Identify or Anonymize Devices -<small> identification is done for analysis purposes</small>
                </h4>
                <!--

                    <div class="widget-controls">
                        <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                -->
            </header>
            <div class="widget-body">
                <div class="widget-padding-md border rounded">
                        {% if msg_add %}
                        <h4 style="color:{{ color }};">
                            {{ msg_add | safe }}
                        </h4>
                        {% else %}
                        {% endif %}    
                    <form role="form" method="post" action="">
                        <fieldset>                            
                            <div class="form-group">
                                <!--
                                    <label for="add_device" >Email</label>
                                -->
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    {{ form.add_name(placeholder="Name", class="form-control input-sm input-transparent") }}
                                    {{ form.add_mac(placeholder="MAC Address", class="form-control input-sm input-transparent") }}
                                    {{ form.add_description(placeholder="Description", class="form-control input-sm input-transparent") }}
                                    
                                </div>
                            </div>
                                <button type="submit" name="submit_add_device" class="btn btn-success">
                                    <span class="small-circle"><i class="glyphicon glyphicon-plus-sign"></i></span>
                                    <small>Add Device</small>
                                </button>
                        </fieldset>
                    </form>
                </div>
                <div class="widget-padding-md border rounded">
                    <h4>
                        {% if msg_remove %}
                        <h4 style="color:{{ color }};">
                            {{ msg_remove | safe }}
                        </h4>
                        {% else %}
                        {% endif %}   
                    </h4>
                    <form role="form" method="post" action="">
                        <fieldset>                            
                            <div class="form-group">
                            <!--
                                    <label for="add_device" >Email</label>
                                -->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-minus"></i>
                                </span>
                                {{ form.remove_name(placeholder="Name", class="form-control input-sm input-transparent") }}
                            </div>
                        </div>
                                            <button type="submit" name="submit_remove_device" class="btn btn-danger">
                                                <span class="small-circle"><i class="glyphicon glyphicon-minus-sign"></i></span>
                                                <small>Remove Device</small>
                                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- alert specific libs -->
<script src="/static/assets/lib/messenger/build/js/messenger.js"></script>
<script src="/static/assets/lib/messenger/build/js/messenger-theme-flat.js"></script>
<!-- other alert libs -->
<script src="/static/assets/lib/backbone/backbone.js"></script>
<script src="/static/assets/lib/messenger/docs/welcome/javascripts/location-sel.js"></script>
<!-- SocketIO: alert-->
<script src="/static/assets/socket.io/dist/socket.io.js"> </script>
<!-- Alerts-->
<script src="/static/assets/js/alerts.js"></script>
{% endblock javascripts %}