{% extends "base-site.html" %}
{% block title %} System Info {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<h2 class="page-title"><i class="fa fa-hdd-o"></i> System Info - <span class="fw-semi-bold"> <small>Raspberry Pi - Information <span class="fw-semi-bold">not</span> updated in real-time </small> </span></h2>
<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h3>
                    <p class="lead fw-semi-bold">System - 
                    <small> Overview</small></p>
                </h3>
                <!--
                <div class="actions">
                    <small class="text-muted pull-right">2 days ago</small>
                </div>
                -->
            </header>
            <div class="body">
                <ul class="server-stats">
                    {% if cpu_usage %}
                    <li>
                        <header>
                            <h5>
                                CPU 
                            </h5>
                        </header>
                        <div class="key pull-right">Usage(%)</div>
                        <div class="stat">
                                <div class="info"> 
                                {{ cpu_usage | safe }}
                                </div>
                                <div class="progress progress-small">
                                    <div class="progress-bar progress-bar-danger" style="width: {{ cpu_usage | safe }};">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% else %}  
                        {% endif %}  
                        {% if ( mem_total and mem_used and mem_usage ) %}
                    <li>
                        <header>
                            <h5>
                                Virtual Memory
                            </h5>
                        </header>
                        <div class="key pull-right"> Usage(%)/ Total Used Memory (Total Memory Available)</div>
                        <div class="stat">
                            <div class="info">{{ mem_usage | safe }}/ {{ mem_used | safe }} ({{ mem_total | safe }})</div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-info" style="width: {{ mem_usage | safe }};"></div>
                            </div>
                        </div>
                    </li>
                        {% else %}  
                        {% endif %} 

                    {% if ( swap_total and swap_used and swap_usage ) %}
                    <li>
                        <header>
                            <h5>
                                Swap Memory
                            </h5>
                        </header>
                        <div class="key pull-right"> Usage(%)/ Total Used Memory (Total Memory Available)</div>
                        <div class="stat">
                            <div class="info">{{ swap_usage | safe }}/ {{ swap_used | safe }} ({{ swap_total | safe }})</div>
                            <div class="progress progress-small">
                                <div class="progress-bar" style="width: {{ swap_usage | safe }};"></div>
                            </div>
                        </div>
                    </li>
                    {% else %}  
                    {% endif %}

                    {% if ( disk_total and disk_used and disk_usage ) %}
                    <li>
                        <header>
                            <h5>
                                Disk
                            </h5>
                        </header>
                        <div class="key pull-right">Usage(%)/ Total Used Space (Total Space Available)</div>
                        <div class="stat">
                            <div class="info">{{ disk_usage | safe }}/ {{ disk_used | safe }} ({{ disk_total | safe }})</div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-warning" style="width: {{ disk_usage | safe }};"></div>
                            </div>
                        </div>
                    </li>
                    {% else %}  
                    {% endif %}

                    {% if ( bytes_sent and bytes_recv and interfaces and interfaces_progress) %}
                    <li>
                        <header>
                            <h5>
                                Network
                            </h5>
                        </header>
                            {{ interfaces_progress }}
                        <!--
                        <div class="key pull-right">{{ interfaces | safe }}</div>
                        <div class="stat">
                            <div class="info">{{ bytes_recv | safe }} <i class="fa fa-caret-down"></i> &nbsp; {{ bytes_sent | safe }} <i class="fa fa-caret-up"></i></div>
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-inverse" style="width: {{ bytes_percentage | safe }};"></div>
                            </div>
                        </div>
                        -->
                    </li>
                    {% else %}  
                    {% endif %}
                </ul>
            </div>
        </section>  
    </div>  
    <div class="col-md-6">
        <section class="widget widget-tabs">
            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#os" data-toggle="tab">Operative System</a>
                    </li>
                    <li>
                        <a href="#cpu" data-toggle="tab">CPU</a>
                    </li>
                    <li>
                        <a href="#mem" data-toggle="tab">Memory</a>
                    </li>
                    <li>
                        <a href="#net" data-toggle="tab">Network</a>
                    </li>
                </ul>
            </header>
            <div class="body tab-content">
                <div id="os" class="tab-pane active clearfix">
                    <h3 class="tab-header">
                        <p class="lead fw-semi-bold">Operative System -
                        <small> Information</small></p>
                    </h3>
                    <div class="widget-body">
                        <div class="widget-padding-md border rounded">
                            <div class="row">
                                {% if os_info %}
                                    <h4>
                                    {{ os_info | safe }}
                                    </h4>
                                {% else %}
                                        
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cpu" class="tab-pane ">
                    <h3 class="tab-header"><p class="lead fw-semi-bold">CPU -
                        <small>Information</small></p>
                    </h3>
                        <div class="widget-body">
                            <div class="widget-padding-md border rounded">
                                <div class="row">
                                    {% if cpu_info %}
                                        <h4>
                                        {{ cpu_info | safe }}
                                        </h4>
                                    {% else %}
                                            
                                    {% endif %} 
                                </div>
                            </div>
                        </div>
                </div>
                <div id="mem" class="tab-pane ">
                    <h3 class="tab-header"><p class="lead fw-semi-bold">Memory -
                        <small>Information</small></p>
                    </h3>
                    <div class="widget-body">
                        <div class="widget-padding-md border rounded">
                            <div class="row">
                                {% if mem_info %}
                                    <h4>
                                    {{ mem_info | safe }}
                                    </h4>
                                {% else %}
                                        
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
                <div id="net" class="tab-pane ">
                    <h3 class="tab-header">
                        <p class="lead fw-semi-bold">Network -
                        <small>Information</small></p>
                    </h3>
                    <div class="widget-body">
                        <div class="widget-padding-md border rounded">
                            <div class="row">
                                {% if network_info %}
                                    <h4>
                                    {{ network_info | safe }}
                                    </h4>
                                {% else %}
                                        
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- alert specific libs -->
<script src="/static/assets/lib/messenger/build/js/messenger.js"></script>
<script src="/static/assets/lib/messenger/build/js/messenger-theme-flat.js"></script>
<!-- other alert libs -->
<script src="/static/assets/lib/backbone/backbone.js"></script>
<script src="/static/assets/lib/messenger/docs/welcome/javascripts/location-sel.js"></script>
<!-- SocketIO: alert-->
<script src="/static/assets/socket.io/dist/socket.io.js"> </script>
<!-- Alerts-->
<script src="/static/assets/js/alerts.js"></script>
{% endblock javascripts %}